.spacer {
  flex: 1 1 auto;
} 
  .Login { 
    width: 100%;
    height: auto;
    justify-content: center; 
    align-content: center; 
    justify-items: center; 
    align-items: center; 
   }

  .e-card {
    max-width: 400px;
  }
  
  .e-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .e-full-width {
    width: 100%;
  }