<mat-card class="card-place1" *ngIf="place==1">
    <mat-card-content>
        <div class="container-fluid">
            <div class="row">
                <div class="col col-lg-5 col-md-5 col-sm-12">
                    <p *ngIf="place==1">
                        <mat-icon class="icon-display">
                            filter_1
                        </mat-icon>
                    </p>
                    <p *ngIf="place==2">
                        <mat-icon class="icon-display">
                            filter_2
                        </mat-icon>
                    </p>
                    <p *ngIf="place==3">
                        <mat-icon class="icon-display">
                            filter_3
                        </mat-icon>
                    </p>
                </div>
                <div style="width: 200px;" class="col col-lg-7 col-md-7 col-sm-12">
                    <h2>
                        {{banco}}
                    </h2>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class="card-place2" *ngIf="place==2">
    <mat-card-content>
        <div class="container-fluid">
            <div class="row">
                <div class="col col-lg-5 col-md-5 col-sm-12">
                    <p *ngIf="place==1">
                        <mat-icon class="icon-display">
                            filter_1
                        </mat-icon>
                    </p>
                    <p *ngIf="place==2">
                        <mat-icon class="icon-display">
                            filter_2
                        </mat-icon>
                    </p>
                    <p *ngIf="place==3">
                        <mat-icon class="icon-display">
                            filter_3
                        </mat-icon>
                    </p>
                </div>
                <div style="width: 200px;" class="col col-lg-7 col-md-7 col-sm-12">
                    <h2>
                        {{banco}}
                    </h2>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class="card-place3" *ngIf="place==3">
    <mat-card-content>
        <div class="container-fluid">
            <div class="row">
                <div class="col col-lg-5 col-md-5 col-sm-12">
                    <p *ngIf="place==1">
                        <mat-icon class="icon-display">
                            filter_1
                        </mat-icon>
                    </p>
                    <p *ngIf="place==2">
                        <mat-icon class="icon-display">
                            filter_2
                        </mat-icon>
                    </p>
                    <p *ngIf="place==3">
                        <mat-icon class="icon-display">
                            filter_3
                        </mat-icon>
                    </p>
                </div>
                <div style="width: 200px;" class="col col-lg-7 col-md-7 col-sm-12">
                    <h2>
                        {{banco}}
                    </h2>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>