<div class="container-fluid">
  <br/>
  <div class="row">
    <h1 class="mat-display-3">{{id}}</h1>
  </div>
  <br/>
  <div class="row">
    <div class="col col-lg-4 col-md-6 col-sm-12">
     <app-card-dato [place]="1" banco="{{id}}"></app-card-dato>
    </div>
    <div class="col col-lg-4 col-md-6 col-sm-12">
      <app-card-dato [place]="2" banco="{{id}}"></app-card-dato>
     </div>
     <div class="col col-lg-4 col-md-6 col-sm-12">
      <app-card-dato [place]="3" banco="{{id}}"></app-card-dato>
     </div>
  </div>
  <br/>
  <div class="row">
    <div class="col col-lg-12 col-sm-12 col-md-12">
      <app-ranking-chart no="{{id}}"></app-ranking-chart>
    </div>
  </div>
</div>
