.card-liquidez {
    background-color: gold;
    font-weight: bold;
    width: auto;
    justify-content: center;
}

.card-solvencia {
    background-color: silver;
    font-weight: bold;
    width: auto;
    justify-content: center;
}

.card-rentbilidad {
    background-color: #D35400 ;
    font-weight: bold;
    width: auto;
    justify-content: center;
}

.icon-display {
    font-size: 66px;
 }
