<mat-card class="card-activo" *ngIf="place==1">
    <mat-card-content>
        <div class="container-fluid">
            <div class="row">
                <div class="col col-lg-5 col-md-5 col-sm-12">
                    <p *ngIf="place==1">
                        <mat-icon class="icon-display">
                            account_balance
                        </mat-icon>
                    </p>
                    <p *ngIf="place==2">
                        <mat-icon class="icon-display">
                            account_balance_wallet
                        </mat-icon>
                    </p>
                    <p *ngIf="place==3">
                        <mat-icon class="icon-display">
                            filter_3
                        </mat-icon>
                    </p>
                </div>
                <div style="width: 200px;" class="col col-lg-7 col-md-7 col-sm-12">
                    <h1>Activo</h1>
                    <h2 class="badge bg-light text-dark">{{activo}}</h2>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class="card-pasivo" *ngIf="place==2">
    <mat-card-content>
        <div class="container-fluid">
            <div class="row">
                <div class="col col-lg-5 col-md-5 col-sm-12">
                    <p *ngIf="place==1">
                        <mat-icon class="icon-display">
                            account_balance
                        </mat-icon>
                    </p>
                    <p *ngIf="place==2">
                        <mat-icon class="icon-display">
                            account_balance_wallet
                        </mat-icon>
                    </p>
                    <p *ngIf="place==3">
                        <mat-icon class="icon-display">
                            filter_3
                        </mat-icon>
                    </p>
                </div>
                <div style="width: 200px;" class="col col-lg-7 col-md-7 col-sm-12">
                    <h1>Pasivo</h1>
                    <h2 class="badge bg-light text-dark">{{pasivo}}</h2>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class="card-capital" *ngIf="place==3">
    <mat-card-content>
        <div class="container-fluid">
            <div class="row">
                <div class="col col-lg-5 col-md-5 col-sm-12">
                    <p *ngIf="place==1">
                        <mat-icon class="icon-display">
                            account_balance
                        </mat-icon>
                    </p>
                    <p *ngIf="place==2">
                        <mat-icon class="icon-display">
                            account_balance_wallet
                        </mat-icon>
                    </p>
                    <p *ngIf="place==3">
                        <mat-icon class="icon-display">
                            filter_3
                        </mat-icon>
                    </p>
                </div>
                <div style="width: 200px;" class="col col-lg-7 col-md-7 col-sm-12">
                    <h1>Capital</h1>
                    <h2 class="badge bg-light text-dark">{{capital}}</h2>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>